$color-accent: #e02544
$color-text: #000000
$color-text-alt: #454545
$color-background: #FFFFFF
$color-background-alt: #F2F2F2
$color-border: rgba(0, 0, 0, 0.30)
$color-selection: $color-background
$color-selection-background: rgba($color-text, .7)

$header-background: none
$header-logo-height: 40px
$header-logo-height-desktop: 60px
$header-border-bottom-width: 0
$hero-background-color: none
