
.block-projects--grid
    .project
        position: relative
        &-title
            a
                @include h3
                font-size: pxToRem(32)
                color: var(--color-accent)
        @include media-breakpoint-up(desktop)
            overflow: hidden
            &-title
                padding: $spacing-3
                a
                    color: white
            .media
                margin-bottom: 0
            .project-content
                background: rgba(255, 255, 255, 0.9)
                background: #E02544ED
                position: absolute
                left: 0
                right: 0
                bottom: 0
                transform: translateY(100%)
                transition: 0.4s cubic-bezier(0, 0.65, 0.4, 1)
            &:hover
                .project-content
                    transform: translateY(0)
