.block-video
    &--button
        .btn
            margin-left: pxToRem(-24)
    @include in-page-without-sidebar
        &--player
            .block-content
                padding-top: 0
                padding-bottom: 0
                display: block