.page__home
    #document-header, #document-footer
        display: none !important
    main
        min-height: 100vh
        color: white
        padding-left: 0 !important
        margin-bottom: 0 !important
        text-align: center
        padding-top: $spacing-5
        padding-bottom: $spacing-3
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        position: relative
        .menu
            --color-accent: white
            margin-top: $spacing-3
            display: block !important
            .nav-level-1
                display: block
                li
                    a
                        @include h2
                        transition: all 0.45s cubic-bezier(0, 0.65, 0.4, 1.2)
                        &:hover
                            transform: scale(1.33)
                    + li
                        margin-top: $spacing-2
    @include media-breakpoint-down(desktop)
        .menu
            .nav-level-1
                li
                    border-bottom: 0 !important
                    a
                        padding-top: $spacing-1
                        padding-bottom: $spacing-1

    .footer-social
        margin-top: $spacing-4
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: center
        gap: $spacing-3
        @include media-breakpoint-up(desktop)
            margin-top: $spacing-6
        li + li
            margin-top: 0 !important
        li
            &::after
                margin-right: 0
        a
            text-decoration-color: transparent
            
            &:hover
                text-decoration-color: currentColor
