.projects__section,
.projects_categories__term,
.block-projects--grid
    .grid
        @include grid(2, desktop)
        @include grid(3, xl)

.projects__section,
.projects_categories__term,
.page-without-hero
    .hero
        @extend .sr-only
    .document-content
        padding-top: $spacing-5
    @include media-breakpoint-down(desktop)
        .document-content
            padding-top: var(--header-height)

.projects__page, .projects__page.full-width
    .hero-text
        p, .project-infos
            @extend .sr-only
    @include media-breakpoint-up(desktop)
        .hero
            position: static
            margin-bottom: 0
            .content
                padding-top: $spacing-4
                > figure
                    order: -1
                    width: columns(5)
                    position: absolute
                    z-index: 3
                .hero-text
                    margin-left: offset(5)
                    width: columns(4)
                    align-self: end
                    padding-bottom: 0
                    margin-top: 0
        .document-content
            padding-bottom: $spacing-5
        .block
            --block-space-y: #{$spacing-2}
            &-chapter
                margin-bottom: $spacing-3
                + .block-video--button
                    margin-top: 0
            .block-content
                padding-left: offset(5)
    @include media-breakpoint-down(desktop)
        .hero
            margin-bottom: 0 !important
            .content
                padding-top: 0
                display: flex
                flex-direction: column
                figure
                    order: -1
                    margin-bottom: $spacing-3 !important
                    figcaption
                        text-align: left
                        padding-top: $spacing-1
                        &::before
                            position: static
                            display: inline
                            padding-left: 0
                        .credit
                            padding-left: 0
                            display: inline
                            > p
                                display: inline

.block.block-siblings-navigation
    display: none


